<video loop autoplay poster="~/Content/randomplace.jpg" id="background">
    <source src="~/Content/randomvideo.mp4" type="video/mp4">
</video>
<div class="overlay">
    
                <h1>Take me to random</h1>
                <h3>Random will define the place, you want to visit</h3>
           

            </div>
